.inv-head img{
    max-height: 150px;
}
.inv-head-logo{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.client-company-infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.individual-page-container{
    background: rgb(13,27,31);
    background: linear-gradient(0deg, rgba(13,27,31,1) 23%, rgba(103,171,159,1) 100%);
}
.individual-page-container-edit{
    background-color: #ffebd3;
}
.preview-edit{
    width:100%;
    height:30px;
}
.invoice-information-page-container{
    background-color: white;
    height:297mm;
    width:210mm;
    margin: 0 auto;
    border:.5px solid rgba(51, 51, 51, 0.158);
}
.invoice-preview{
    margin:27mm 16mm;
}

#invoice-summary{
    width:100%;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

#invoice-summary th{
    border-top:1px solid black;
    border-bottom: 1px solid black;
}
#invoice-summary th:nth-child(1){
    border-left: 1px solid black;
}
#invoice-summary th:nth-last-child(1){
    border-right: 1px solid black;
}
#invoice-summary td{
    padding:10px 0;
}
#order-date{
    margin-bottom:40px;
    border-bottom: 1px solid lightslategrey;
}
.preview-edit{
    max-width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center; 
}
.preview-edit button{
    color:black;
    transform:scale(1);
    padding:3px 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#9b9b9b;
    border-color: #ffebd3;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
}
.preview-edit button:disabled{
    cursor:not-allowed;
    background-color: black;
    color:white;
    opacity: .55;
}
#delete-invoice-button{
    background-color:#db481b;
    color:#ffebd3;
    margin-left:200px;
}