.nfpage-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: #ffebd3;
    height:90vh;
}
.nfpage-redirection{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
}