.client-creationPage-container{
    background-color:#264e70;
    color:white;
    height:90vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.creation-buttons{
    padding-top:12px;
    display: flex;
    justify-content: space-between;
}
#client-creation-submit{
    width:340px;
    padding-top:4px;
    padding-bottom:4px;
    border-width:2px;
    border-color:#ffebd3;
    color:#ffebd3;
    font-weight: 700;
    transition-duration: .4s;
    background-color: #67AB9F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#client-creation-submit:hover{
    cursor: pointer;
    color:#264e70;
    background-color: #ffebd3;
}
#client-form-reset{
    padding-top:4px;
    padding-bottom:4px;
    border-width:2px;
    border-color:#264e70;
    color:#264e70;
    font-weight: 700;
    transition-duration: .3s;
    background-color: #ffebd3;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#client-form-reset:hover{
    cursor: pointer;
    background-color: red;
    color:#ffebd3;
    border-color:#ffebd3;

}
#client-creation-cancel{
    width:340px;
    margin-top:12px;
    padding-top:4px;
    padding-bottom:4px;
    border-width:2px;
    border-color:#ffebd3;
    color:#ffebd3;
    font-weight: 700;
    transition-duration: .4s;
    background-color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#reset-button{
    display:flex;
    flex-direction: row;
    justify-content:center;
}