.login-column-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    float:left;
    width: 35%;
    height:90vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.login-column-left>img{
    height: 600px;
    width:auto;
}
.login-column-left>h1{
    margin-top: 100px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.login-column-right{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float:right;
    background: #59948A;
    height:90vh;
    width:65%;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
input{
    display:block;
    padding:20px;
    border-radius: 4px;
    border:none;
    background-color: white;
    padding-left: 20px;
    
}

.login-errors{
    Color:red;
}