.hero-container img{
    max-height: 650px;
    width: auto;
}

.hero-container{
    margin: 30px 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.hero-right-col{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(87, 86, 86, 0.068);
    border-radius:100px;
    
}
.hero-right-col-text{
    margin:8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 3px 2px 4px rgba(0,0,0,.30);
}
.hero-right-col button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: large;
    color: white;
    background: rgb(44,84,95);
    background: linear-gradient(90deg, rgba(44,84,95,1) 0%, rgba(103,171,159,1) 100%);
    padding:10px 14px;
    border-radius: 10px;
    border-color: rgba(87, 86, 86, 0.068);
    transition-duration: .4s;
}
.hero-right-col button:hover{
    cursor: pointer;
    background: rgb(44,84,95);
    background: linear-gradient(90deg, rgba(103,171,159,1) 0%, rgba(44,84,95,1) 100%);
    padding:10px 14px;
    box-shadow: 3px 4px 4px rgba(0,0,0,.40);
}


.home-break-container{
    background-color:#67AB9F ;
    height:75vh;
    clip-path: polygon(0% 20%, 100% 0,100% 80%, 0% 100%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-break-image img{
    box-shadow: 3px 8px 8px rgba(0,0,0,.40);
}
.home-feature-content{
    height:60vh;
}
.feature-text-items{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.feature-text-containers{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .25ch;
    font-weight: 500;

}





