.invoice-dashboard-container{
    width:100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.411);
}
.invoice-navigation{
    width:82%;
}
#new-invoice-button{
    color:#ffebd3;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#264e70;
    font-weight: 700;
    transition-duration: .4s;
    padding:.5rem;
}
#new-invoice-button:hover{
    background-color: #ffebd3;
    color:#264e70;
    cursor: pointer;

}

.invoices-table{
    width: 82%;
    margin-top: 10px;
}

#user-invoices {
    width: 100%;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #67AB9F;
    border-collapse: collapse;

}
#user-invoices td, #user-invoices th{
    padding:8px;
    border:1px solid #ffebd3
}
#user-invoices th{
    background-color: #67AB9F;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;


}
#user-invoices tr:hover{
    background-color: bisque;
    cursor: pointer;
}