.client-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.client-info-card{
    min-width:600px;
    display:flex;
    flex-direction: column;
    border:0px solid black; 
    padding: 0 0 0 20px;
    background-color: #ffebd3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.client-info-card img{
    width:300px;
        
}
.client-id-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.client-id-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#delete-client-container{
    margin:8px ;
    display:flex;
    justify-content: space-between;
}

#client-close-button{
    color:#ffebd3;
    padding:3px 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#db481b;
    border:none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left:228px;
    font-weight: 700;
    cursor: pointer;
}

#client-edit-button{
    color:#264e70;
    padding:3px 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#67AB9F;
    border:none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    cursor: pointer;
}

#delete-client-button{
    color:#ffebd3;
    padding:3px 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#db481b;
    border:none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left:228px;
    font-weight: 700;
    cursor: pointer;
}