.settings-page-container{
    min-height:90vh;
    width:100%;
    background-color: rgb(44,84,95);   
}

.user-logo-edits{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-shadow: 4px 3px 5px rgba(0,0,0,.40);
}
.settings-card-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.settings-card-container h1{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 3px 4px rgba(0,0,0,.40);
    margin:2px 0 -2px 0;
}
.user-logo-edits input{
    max-width:200px;
    margin:1px 5px;
}

.editable-user-settings{
    background-color: rgba(255, 255, 255, 0.829);
    width:25%;
    max-height:80vh;
    margin:20px auto;
    padding:20px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0 12px 20px 0 rgba(0, 0, 0, 0.507), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.editable-user-settings button{
    font-weight: 700;
    color:white;
    background: rgb(44,84,95);
    background: linear-gradient(90deg, rgba(44,84,95,1) 0%, rgba(103,171,159,1) 100%);
    transition-duration: .3s;
    border:none;
    border-radius:4px;
    width:120px;
    padding:4px;
    margin-top:-10px;
    margin-bottom: 10px;
}
.editable-user-settings button:hover{
    cursor: pointer;
    color:white;
    background: #65b969;
}
    


.user-edit input{
    max-height:6px;
    margin:1px 1px;
    
}
.user-edit label{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-shadow: 3px 2px 4px rgba(0,0,0,.40);
}
    
.user-edit{
    width:100%;
    margin:0 auto;
}