li {
    list-style-type: none;
    margin:0 4px 0 4px;
    
    
}

.nav-links-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    padding-top: 4px;
    justify-content: space-between;
}

.nav-links-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    
}
.nav-links-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
}
.nav-links-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:30px;
}
.nav-links-right2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.nav-feature{
    color: #67AB9F;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.demo-button:hover{
    background-color: #67AB9F;
    color:white;
    cursor: pointer;
}

.logged_in_user{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#264e70;
}