.iC-page{
    min-height: 95vh;
    max-height:auto;
    background: rgb(13,27,31);
background: linear-gradient(0deg, rgba(13,27,31,1) 0%, rgba(103,171,159,1) 100%);
}
.invoice-creator-container{
    background-color: rgba(241, 241, 233, 0.959);
    margin:0 auto;
    width:50%;
    border:1px solid black;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.invoice-dash-back{
    margin:8px 0 30px 12px;
}
.invoice-header img{
    max-height:150px;
}
.invoice-top-inputs{
    padding-left:4%;
}
.invoice-header h1{
padding-right:20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:rgba(0, 0, 0, 0.315)
}
.invoice-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}

.busCli-container{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    padding-left:4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:30px;
}
thead #itemDes{
    padding-left:55px;
    padding-right:300px;
}
thead #itemRate{
    padding-right:110px;
}
thead #itemQty{
    padding-right:80px;
    
}
.inv-item{
    border-bottom:1px solid rgba(158, 173, 189, 0.466);
}
.itm-addDel-buttons{
    margin-left:55px;
    width:170px;
    display:flex;
    justify-content:space-between;
    
}

.itm-addDel-buttons button{
    padding:3px 6px;
    cursor: pointer;
    color:white;
    font-weight: 600;
    background-color: red;
    border:border-box;
    border-radius: 3px;
    transition-duration: .4s;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#addItem-button{
    background-color: green;
}
.itm-addDel-buttons button:hover{

}

.invoice-bottom-container{
    margin:30px 0 0 670px;
}
.invoice-bottom-container button{
    cursor: pointer;
    margin:14px 0 25px 0;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    background-color: #264e70;
    border-radius: 3px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}