.invoice-creator-container{
    display:block;
    margin:30px auto;
    width:50%;
    border:1px solid black;

}
.invoice-header img{
    max-height:150px;
}
.invoice-top-inputs{
    padding-left:4%;
}
.invoice-header h1{
padding-right:20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.invoice-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}

.busCli-container{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    padding-left:4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:30px;
}
thead #itemDes{
    padding-left:55px;
    padding-right:300px;
}
thead #itemRate{
    padding-right:110px;
}
thead #itemQty{
    padding-right:80px;
}
.itm-addDel-buttons{
    margin-left:55px;
    width:170px;
    display:flex;
    justify-content:space-between;
}
