.invoice-creator-container{
    display:block;
    margin:30px auto;
    width:50%;
    border:1px solid black;

}
.invoice-header img{
    max-height:150px;
}
.invoice-top-inputs{
    padding-left:4%;
}
.invoice-header h1{
padding-right:20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.invoice-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}

.busCli-container{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    padding-left:4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
